* { 
    font-family: "Inter", sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
nav { 
    margin-bottom: 60px;
    padding: 0 15%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    top: 0; 
    left: 0; 
    right: 0;
    height: 95px
}
nav img{ 
    display: none;
}
nav svg { 
    cursor: pointer;
}
nav ul { 
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    color: hsl(236, 13%, 42%)
}
nav li { 
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
nav li:hover { 
    transition: all 0.2s ease-in-out;
    background-color: hsl(240, 100%, 5%);
    color: white;
}
.grid { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3%;
    width: 70%;
    margin: auto;
}
.mobileHero { 
    display: none;
}
h1 { 
    font-size: 40px;
    font-weight: 800;
    line-height: 85%;
    overflow-y: hidden;
}
.txtDiv { 
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}
.txtDiv p { 
    margin: 25px 0;
    font-size: 15px;
    color:hsl(236, 13%, 42%)
}
.btn  { 
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    color:hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    padding: 10px 30px;
}
.btn:hover { 
    transition: all 0.2s ease-in;
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.heroImg{ 
    width: 100%;
}
.table { 
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: hsl(240, 100%, 5%);
}
.table .br { 
    margin: 12px 0;
    border: solid 1px hsl(236, 13%, 42%)
}
.table h2 { 
    margin-bottom: 12px;
    color: hsl(35, 77%, 62%);
}
.table p {
    font-size: 15px;
    color: hsl(236, 13%, 42%)
}
.table h4 { 
    letter-spacing: 1px;
    color:  hsl(36, 100%, 99%)
}
.table h4:hover {
    cursor: pointer;
    color:hsl(35, 77%, 62%)
}
.highlights {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}
.hElements { 
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    margin-bottom: 70px;
}
.hElements h2{
    color: hsl(233, 8%, 79%);
}
.hElements h4{ 
    cursor: pointer;
    font-size: 15px;
}
.hElements h4:hover { 
    color: hsl(5, 85%, 63%)
}
.hElements p  { 
    font-size: 12px;
    color:hsl(236, 13%, 42%);
}
.hElements img{ 
    height: 100px;
    width: 100%;
}
footer { 
    text-align: center;
}
footer p { 
    color:hsl(230, 4%, 70%); 
    font-size: 12px;
    position: sticky;
    bottom: 5px;
}
@media screen and (max-width:1000px) {
    .grid {
        width: 90%;
    }
    nav {
        padding: 0 5%;
    }
    .highlights{ 
        width: 90%;
    }
}
@media screen and (max-width: 550px) {
    nav { 
        margin-bottom: 2px;
        align-items: center;
    }
    nav img { 
        display: flex;
        cursor: pointer;
    }
    .close{ 
        position: absolute;
        top: 20px;
        right: 20px
    }
    nav ul { 
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .navItems { 
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        background-color: white;
        left: 20%;
        right: 0;
        top: 0; 
        bottom: 0;
        transform: translateX(100%);
    }
    .fadeIn { 
        transition: all 0.4s ease-out;
        transform: translateX(0);
        box-shadow: 50px 100px 100px 80px  black;
  }
    .mobileHero {
        width: 100%;
        display: inline-block;
    }
    .heroImg { 
        display: none;
    }
    .logo { 
        transform: scale(0.8, 0.8);
    }
    .grid { 
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .txtDiv {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .highlights { 
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .hElements { 
        margin-bottom: 10px;
    }
}